body {
  margin: 40px;
  width: 100%;
}



.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100px 100px 100px 100px;
    background-color: #fff;
    color: #444;
    width: 33%;
    margin: 0 auto;
  }


  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    text-align: center;


  }
  .total {
    grid-column: 1 / 5;
    grid-row: 1;
    text-align: right;
    height: 50px;
  }


  #equals {
    grid-column: 1 / 5;

  }

.activeOperator {
  border: 2px solid red;
}
